<div class="row">
    <h1 id="educacion" style="font-family:'Impact', Charcoal, Helvetica Inserat">Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul id="tecno">
            <li>
                <h2 style="font-family:'Impact', Charcoal, Helvetica Inserat">TECNO 3F</h2> - <h3 style="font-family:'Impact', Charcoal, Helvetica Inserat">Introducción a bases de datos SQL</h3>  <h6><b>oct.2022 - dic.2022</b></h6></li>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam nulla optio aliquid sequi, possimus ullam pariatur accusamus fugiat,
                     consequatur non expedita! Vero delectus nemo commodi fuga numquam. Similique, nobis sed.</p>
        </ul>
        <ul id="uc">
            <li>
                <h2 style="font-family:'Impact', Charcoal, Helvetica Inserat">Universidad de Carabobo</h2> - <h3 style="font-family:'Impact', Charcoal, Helvetica Inserat">Ingeniería Civil</h3>  <h6><b>mar.2009 - agos.2015</b></h6></li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste deserunt porro hic perferendis 
                    repellat doloremque ipsum expedita nihil, ab eos reiciendis odio officia dolore suscipit sint eveniet harum cum nulla?</p>
        </ul>
    </div>
</div>

