<div class="row">
    <h1 id="experiencia" style="font-family:'Impact', Charcoal, Helvetica Inserat">Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul id="construcciones">
            <li>
                <h3 style="font-family:'Impact', Charcoal, Helvetica Inserat">Jefatura de obras</h3> - <h3 style="font-family:'Impact', Charcoal, Helvetica Inserat">Construcciones de Hormigón</h3>  <h6><b>ago.2020 - actualidad</b></h6></li>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam nulla optio aliquid sequi, possimus ullam pariatur accusamus fugiat,
                     consequatur non expedita! Vero delectus nemo commodi fuga numquam. Similique, nobis sed.</p>
        </ul>
        <ul id="group">
            <li>
                <h3 style="font-family:'Impact', Charcoal, Helvetica Inserat">Jefatura de obras</h3> - <h3 style="font-family:'Impact', Charcoal, Helvetica Inserat">Ca group</h3>  <h6><b>mar.2019 - sep.2019</b></h6></li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste deserunt porro hic perferendis 
                    repellat doloremque ipsum expedita nihil, ab eos reiciendis odio officia dolore suscipit sint eveniet harum cum nulla?</p>
        </ul>
        <ul id="irq">
            <li><h3 style="font-family:'Impact', Charcoal, Helvetica Inserat">Jefatura de obras</h3> - <h3 style="font-family:'Impact', Charcoal, Helvetica Inserat">IRQ construcciones</h3> <h6><b>jul.2017 - mar.2019</b></h6></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, voluptates! Unde a obcaecati odio est nemo excepturi hic,
                 iste nobis nihil pariatur, accusantium facere sed asperiores modi ad. Ullam, deleniti?</p>
        </ul>
    </div>
</div>
