<div class="row">
    <h1 id="experiencia">Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Jefatura de obras</h2> - <h3>Construcciones de Hormigón</h3>  <h6>ago.2020 - actualidad</h6></li>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam nulla optio aliquid sequi, possimus ullam pariatur accusamus fugiat,
                     consequatur non expedita! Vero delectus nemo commodi fuga numquam. Similique, nobis sed.</p>
        </ul>
        <ul>
            <li>
                <h2>Jefatura de obras</h2> - <h3>Ca group</h3>  <h6>mar.2019 - sep.2019</h6></li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste deserunt porro hic perferendis 
                    repellat doloremque ipsum expedita nihil, ab eos reiciendis odio officia dolore suscipit sint eveniet harum cum nulla?</p>
        </ul>
        <ul>
            <li><h2>Jefatura de obras</h2> - <h3>IRQ construcciones</h3> <h6>jul.2017 - mar.2019</h6></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, voluptates! Unde a obcaecati odio est nemo excepturi hic,
                 iste nobis nihil pariatur, accusantium facere sed asperiores modi ad. Ullam, deleniti?</p>
        </ul>
    </div>
</div>
