<div class="row">
    <h1 id="proyectos" style="font-family:'Impact', Charcoal, Helvetica Inserat">Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <ul id="bbdd">
                <li>
            <h2 style="font-family:'Impact', Charcoal, Helvetica Inserat">Diseño y creación de base de datos</h2></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Obcaecati quos consequuntur quaerat sequi accusantium, a consectetur perspiciatis
                 ex tempora facilis explicabo incidunt, libero magnam saepe aut labore earum fuga rem.</p>
            </ul>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
           <img src ="../../../assets/DER2.png" class="img-fluid img-proyecto" alt="DER PROYECTO">
        </div>
    </div>

</div>
