<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/karla.jpg"
         class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Karla Silva</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="acercaDeMi">Acerca de mi</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis dolore repudiandae recusandae
                 dolorem aperiam voluptatem magnam! Sed deserunt cum veniam fugiat ducimus velit a quidem unde,
                  iure beatae neque atque.</p>
        </span>
    </div>
</div>
