<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/karla.jpg" 
         class="img-fluid" id="fotodeperfil" alt="Foto Perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3 id="nombre" style="font-family:'Impact', Charcoal, Helvetica Inserat" >KARLA SILVA</h3>
        <p style="margin-left: 25%;"><b>Full Stack Developer Jr</b></p>
    </div>
    <div id="acercaDe" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="acercaDeMi" style="font-family:'Impact', Charcoal, Helvetica Inserat">Acerca de mi</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis dolore repudiandae recusandae
                 dolorem aperiam voluptatem magnam! Sed deserunt cum veniam fugiat ducimus velit a quidem unde,
                  iure beatae neque atque.</p>
        </span>
    </div>
</div>
