<div class="row">
    <h1 id="educacion">Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>TECNO 3F</h2> - <h3>Administrador de BBDD</h3>  <h6>oct.2022 - dic.2022</h6></li>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam nulla optio aliquid sequi, possimus ullam pariatur accusamus fugiat,
                     consequatur non expedita! Vero delectus nemo commodi fuga numquam. Similique, nobis sed.</p>
        </ul>
        <ul>
            <li>
                <h2>Universidad de Carabobo</h2> - <h3>Ingeniería Civil</h3>  <h6>mar.2009 - agos.2015</h6></li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste deserunt porro hic perferendis 
                    repellat doloremque ipsum expedita nihil, ab eos reiciendis odio officia dolore suscipit sint eveniet harum cum nulla?</p>
        </ul>
    </div>
</div>

