<div class="row">
    <h1 id="hys" style="font-family:'Impact', Charcoal, Helvetica Inserat; color: aliceblue;">Hard and Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="80"
        [imageSrc]="'../assets/htmlNeon.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#02E0B8'"
        [innerStrokeColor]="'#FF3BF6'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="70"
            [radius]="80"
            [imageSrc]="'../assets/cssNeon.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#02E0B8'"
            [innerStrokeColor]="'#FF3BF6'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
   </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="80"
        [imageSrc]="'../assets/jsNeon.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#02E0B8'"
        [innerStrokeColor]="'#FF3BF6'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [radius]="80"
        [imageSrc]="'../assets/sqlNeon.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#02E0B8'"
        [innerStrokeColor]="'#FF3BF6'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="95"
    [radius]="80"
    [showUnits]="false"
    [imageSrc]="'../assets/planificacionNeon.png'"
    [showImage]="true"
    [showSubtitle]="false"
    [imageHeight]="90"
    [imageWidth]="90"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'#02E0B8'"
    [innerStrokeColor]="'#FF3BF6'"
    [animation]="true"
    [animationDuration]="600"
    ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="95"
    [radius]="80"
    [imageSrc]="'../assets/teamNeon.png'"
    [showImage]="true"
    [showSubtitle]="false"
    [imageHeight]="90"
    [imageWidth]="90"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'#02E0B8'"
    [innerStrokeColor]="'#FF3BF6'"
    [animation]="true"
    [animationDuration]="600"
    ></circle-progress>
   </div>
</div>
